.vs
src/CA.Core.Application/obj
src/CA.Core.Application.Contracts/obj
src/CA.Core.Domain.Persistence/obj
src/CA.Infrastructure.Persistence/obj
src/CA.Web.Api/obj
src/CA.Web.Framework/bin
src/CA.Web.Framework/obj
src/CA.Web.Api/bin
src/CA.Core.Application/bin
src/CA.Core.Application.Contracts/bin
src/CA.Core.Domain.Persistence/bin
src/CA.Infrastructure.Persistence/bin
src/CA.Web.Api/serilogs
src/CA.Core.Domain.Identity/bin
src/CA.Core.Domain.Identity/obj
src/CA.Infrastructure.Identity/bin
src/CA.Infrastructure.Identity/obj
src/CA.Web.Mvc/bin
src/CA.Web.Mvc/obj
src/CA.Web.Mvc/serilogs
src/CA.Web.Mvc/logs
src/CA.Tests/bin
src/CA.Tests/obj
src/CA.Test/bin
src/CA.Test/obj
