.vs
src/CA.Core.Application/obj
src/CA.Core.Application.Contracts/obj
src/CA.Core.Domain.Persistence/obj
src/CA.Infrastructure.Persistence/obj
src/CA.Web.Api/obj
src/CA.Web.Framework/bin
src/CA.Web.Framework/obj
src/CA.Web.Api/bin
src/CA.Core.Application/bin
src/CA.Core.Application.Contracts/bin
src/CA.Core.Domain.Persistence/bin
src/CA.Infrastructure.Persistence/bin
src/CA.Web.Api/serilogs
src/CA.Core.Domain.Identity/bin
src/CA.Core.Domain.Identity/obj
src/CA.Infrastructure.Identity/bin
src/CA.Infrastructure.Identity/obj
src/CA.Web.Mvc/bin
src/CA.Web.Mvc/obj
src/CA.Web.Mvc/serilogs
src/CA.Web.Mvc/logs
src/CA.Tests/bin
src/CA.Tests/obj
src/CA.Test/bin
src/CA.Test/obj
src/CA.Tests.Integration/bin
src/CA.Tests.Integration/obj
test/CA.Tests/bin
test/CA.Tests/obj
test/CA.Tests.Integration/bin
test/CA.Tests.Integration/obj
test/CA.IntegrationTest.Mvc/bin
test/CA.IntegrationTest.Mvc/obj
test/CA.UnitTest.Application/bin
test/CA.UnitTest.Application/obj
test/CA.UnitTest.Persistence/bin
test/CA.UnitTest.Persistence/obj
documentation/CA.Documentation/log.txt
src/Core.Application/bin
src/Core.Application/obj
src/Core.Application.Contracts/bin
src/Core.Application.Contracts/obj
src/Core.Domain.Identity/bin
src/Core.Domain.Identity/obj
src/Core.Domain.Persistence/bin
src/Core.Domain.Persistence/obj
src/Infrastructure.Identity/bin
src/Infrastructure.Identity/obj
src/Infrastructure.Persistence/bin
src/Infrastructure.Persistence/obj
src/Web.Api/bin
src/Web.Api/obj
src/Web.Api/serilogs
src/Web.Framework/bin
src/Web.Framework/obj
src/Web.Mvc/bin
src/Web.Mvc/logs
src/Web.Mvc/obj
test/IntegrationTest.Mvc/bin
test/IntegrationTest.Mvc/obj
test/UnitTest.Application/bin
test/UnitTest.Application/obj
test/UnitTest.Persistence/bin
test/UnitTest.Persistence/obj
tests/FunctionalTest.Mvc/bin
tests/FunctionalTest.Mvc/obj
tests/UnitTest.Application/bin
tests/UnitTest.Application/obj
tests/UnitTest.Persistence/bin
tests/UnitTest.Persistence/obj
documentation/Documentation/log.txt
/obj/Docker
/bin/Debug
/obj/Debug
/src/Web.Api/logs/log-20221016.txt
/tests/FunctionalTest.WebApi/bin/Debug/net6.0
/tests/FunctionalTest.WebApi/obj
/src/Web.Api/logs
