@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Clean Architecture!</h1>
    <p>Welcome to the homepage of Clean Architecture template. You can make use of it the way you want.</p>
    <p>This contains Onion/Hexagonal architecture, DDD, CQRS using mediaTr, Unit Testing, Functional Testing, ASP.NET Core Identity, Entity Framework Core - Code First, Linq2db, Repository Pattern - Generic, Swagger UI, Response Wrappers, API Versioning, Automapper, Serilog, Exception handling, and so on.</p>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Index" asp-controller="Dashboard" asp-area="Admin" class="btn btn-default btn-flat">Go to Dashboard</a>
        <a asp-action="SignOut" asp-controller="Account" asp-area="" class="btn btn-default btn-flat">Sign out</a>
    }
    else
    {
        <a asp-action="Login" asp-controller="Account" class="btn btn-default btn-flat">Sign in</a>
    }

</div>
