@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the homepage of Clean Architecture template. You can make use of it the way you want.</p>
    <a asp-action="Login" asp-controller="Account" class="btn btn-default btn-flat">Sign in</a>
</div>
