@model Core.Application.Contracts.HandlerExchanges.Post.Commands.AddPostCommand

@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Stylesheets
{
    <link rel="stylesheet" href="~/adminAssets/plugins/summernote/summernote-bs4.min.css">
}
<form asp-action="Add">
    <div class="row">
        <div class="col-md-10">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <textarea asp-for="Content" class="form-control" id="summernote">
  
                </textarea>

                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <textarea asp-for="Summary" class="form-control">
  
                </textarea>

                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts
{
    <script src="~/adminAssets/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            // Summernote
            $('#summernote').summernote({
                height: 300
            });


        })
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

