<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>@ViewData["Title"] | Starter</title>
    <link rel="stylesheet" href="~/adminAssets/plugins/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="~/adminAssets/css/adminlte.min.css">

    @await RenderSectionAsync("Stylesheets", false/*required*/)
</head>
<body class="hold-transition">
    <partial name="_Response"/>
    @RenderBody()
    
    <script src="~/adminAssets/plugins/jquery/jquery.min.js"></script>
    <script src="~/adminAssets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminAssets/js/adminlte.min.js"></script>
    @await RenderSectionAsync("Scripts", false/*required*/)
</body>
</html>