<footer class="main-footer">
    <strong>Copyright &copy; 2021-@DateTime.Now.Year.ToString() <a href="https://a2masum.dev">a2masum.dev</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> @ViewData["mvcVersion"]
    </div>
</footer>