@using Core.Application.Contracts.Interfaces
@using Web.Framework.Permissions
@inject ICurrentUser CurrentUser
@{
    var permissions = await CurrentUser.Permissions();
}

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
        <img src="~/adminAssets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">a2masum.dev</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                @if (permissions.Any(x => x.Value == Permissions.Dashboards.View))
                {
                    <li class="nav-item menu-open">
                        <a href="/admin" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>
                }

                @if (permissions.Any(x => x.Value == Permissions.Posts.View))
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Posts
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>

                        <ul class="nav nav-treeview">
                            @if (permissions.Any(x => x.Value == Permissions.Posts.View))
                            {
                                <li class="nav-item">
                                    <a href="~/admin/post/index" class="nav-link">
                                        <i class="nav-icon fas fa-list"></i>
                                        <p>All Posts</p>
                                    </a>
                                </li>
                            }
                            @if (permissions.Any(x => x.Value == Permissions.Posts.Create))
                            {
                                <li class="nav-item">
                                    <a href="~/admin/post/add" class="nav-link">
                                        <i class="nav-icon fas fa-plus"></i>
                                        <p>Add New</p>
                                    </a>
                                </li>
                            }
                            @if (permissions.Any(x => x.Value == Permissions.Categories.View))
                            {
                                <li class="nav-item">
                                    <a href="pages/forms/editors.html" class="nav-link">
                                        <i class="nav-icon fas fa-layer-group"></i>
                                        <p>Categories</p>
                                    </a>
                                </li>
                            }

                            @if (permissions.Any(x => x.Value == Permissions.Tags.View))
                            {
                                <li class="nav-item">
                                    <a href="pages/forms/validation.html" class="nav-link">
                                        <i class="nav-icon fas fa-tags"></i>
                                        <p>Tags</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                <li class="nav-header">Users, Roles & Permissions Management</li>
                @if (permissions.Any(x => x.Value == Permissions.Users.View))
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Users
                                <i class="fas fa-users-cog"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @if (permissions.Any(x => x.Value == Permissions.Users.View))
                            {
                                <li class="nav-item">
                                    <a href="~/admin/user/index" class="nav-link">
                                        <i class="nav-icon fas fa-list"></i>
                                        <p>All Users</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @if (permissions.Any(x => x.Value == Permissions.Roles.View))
                {
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                Roles
                                <i class="fas fa-users-cog"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            @if (permissions.Any(x => x.Value == Permissions.Roles.View))
                            {
                                <li class="nav-item">
                                    <a href="~/admin/role/index" class="nav-link">
                                        <i class="fab fa-centercode"></i>
                                        <p>All Roles</p>
                                    </a>
                                </li>
                            }
                            @if (permissions.Any(x => x.Value == Permissions.Roles.Create))
                            {
                                <li class="nav-item">
                                    <a href="~/admin/role/add" class="nav-link">
                                        <i class="fas fa-plus-square"></i>
                                        <p>Add New Role</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>